<script type="text/template" id="header_logged">
	<div id="header_logged_user">
		<div id="header_logged_avatar"><img src="<%= image %>"></div>
		<h1 id="header_logged_name"><%= name %></h1>
		<p id="header_logged_count"></p>
		<div class="clear"></div>
	</div>
	<ul id="header_links_logged" class="header_links">	
		<li><a href="#/record/feeling"><span class="header_icons icon_record"></span>Record</a></li>	
		<li><a href="#/visualize"><span class="header_icons icon_visualize"></span>Visualize</a></li>	
		<li><a href="#/settings"><span class="header_icons icon_settings"></span>Settings</a></li>
	</ul>
</script>

<script type="text/template" id="header_not_logged">
	<div id="header_logo"></div>
	<h1><a id="header_home" href="#">emo<span class="name_ome">ome</span></a></h1>
	<ul id="header_links_public" class="header_links">
		<li class="header_text">Have<br>Account</li>
		<li><a href="#/login"><span class="header_icons icon_login"></span>Login</a></li>
		<li class="header_text">Create<br>Account</li>
		<li><a href="#/signup"><span class="header_icons icon_signup"></span>Signup</a></li>
	</ul>
	<div class="clear"></div>
</script>

<script type="text/template" id="index">
<div id="content_index">
	<div id="index_content_1" class="index_content">
		<h2>record your experiences & feelings</h2>
		<h2>visualize moments from your life</h2>
	</div>
	<div id="index_define">
		<p><strong>emo</strong> - <em>a complex psychophysiological experience of an individual's state of mind; interacting w/ biochemical & environmental influences</em></p> 
		<p><strong>ome</strong> - <em>as used in biology, refers to a totality of some sort</em></p>
		<br class="clear">
	</div>
	<div id="index_content_2" class="index_content">
		<h2>discover patterns in your thinking</h2>	
	</div>
	<div id="index_signup">
		<h2>Ready to begin?</h2>
		<h3>Get Started Now</h3>
		<form method="post" name="user_signup_short" id="user_signup_short">
			<p>
				<label>Name</label><br>
				<input type="text" name="name" id="signup_name_short" placeholder="Joe Smith" autocorrect="off" value=""><br>
				<span id="signup_name_short_error"></span>
			</p>
			<p>
				<label>Email</label><br>
				<input type="text" name="email" id="signup_email_short" placeholder="your@email.com" autocorrect="off" value=""><br>
				<span id="signup_email_short_error"></span>
			</p>		
			<p>
				<label>Password</label><br>
				<input type="password" name="password" id="signup_password_short" placeholder="********" autocorrect="off" value=""><br>
				<span id="signup_password_short_error"></span>
			</p>
			<p>
				<label>Language</lable><br>
				<select name="language" id="">
					<option value="" selected="selected">--select--</option>
					<option value="en">English</option>
					<option value="fr">French</option>
					<option value="de">German</option>
					<option value="es">Spanish</option>
					<option value="it">Italian</option>
					<option value="ru">Russian</option>
					<option value="cn">Chinese</option>
					<option value="ot">Other</option>
				</select>					
			</p>
			<p>
				<input type="button" name="submit" id="button_signup_short" value="Signup">
			</p>
		</form>
	</div>
	<div class="clear"></div>
	<div id="index_quotes">
		<h1>Read about emo<span class="name_ome">ome...</span></h1>
		<div class="quote_container">
			<a href="http://www.readwriteweb.com/archives/how-well-get-beyond-the-emoticon.php" target="_blank">
				<span class="quote_title">How We'll Get Beyond the Emoticon</span>
				<span class="quote_quote">"[Emoome] reveals shifts around major life events, which is powerful to look back on after the fact"</span>
				<span class="quote_image quote_image_rww"></span>
			</a>
		</div>
		<div class="quote_container">
			<a href="http://siliconflorist.com/2012/05/01/emoome-emotional/" target="_blank">
				<span class="quote_title">Are you trying to get all emotional on me?</span>
				<span class="quote_quote">"The site is addictive. And the visualizations are beautiful, even in this early iteration."</span>
				<span class="quote_image quote_image_silicon"></span>
			</a>
		</div>
	</div>
</div>
</script>